<div class="row post_view">
  <div class="col-xs-12">
    <h1><%= @post.title %><small> By: <%= @post.author %></small></h1>
    <h3>URL: <%= link_to @post.link, @post.link %> </h3>
    <hr>
    <p>
      <%= @post.body %>
    </p>
  </div>
</div>
