$mainColor: #2980b9;
$altColor: #ecf0f1;

.pirate {
    height: 100px;
}
    header {
        background-color: $mainColor;
        padding: 20px;
        h1 {
            color: $altColor;
            font-size: 60px;
            text-decoration: none;
                    &:hover {
                        text-decoration: none;
                    }
            }
        }
body {
  background-color: lighten($altColor, 45%);
}
.post_view {
  background-color: lighten($altColor, 10%);
  padding-bottom: 30px;
}
.post {
  margin-bottom: 30px;
}
.comment_button {
  margin-top: 24px;
}
